body{
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: #ff7a7a;
    text-align: center;
}
a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
}
a:hover{
    color: #ffffff;
    text-decoration: underline;
}
a:visited{
    color: #ffffff;
}
#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #333;
}
#scores{
    color: #ffffff;
    font-size : 5vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    color:#ffff00;
}
.name{
    font-size: 3vw;
}
#scores >* {
    margin: 1vw;
}